
.title {
    font-size: 1.5em;
    color: #1d1c19;
    text-align: center; 
    margin-bottom: 10px; 

} 

.subtitle {
  font-size: 2em;
  color:#030200e3;
  text-align: center; 
  margin-bottom: 10px; 
} 


#principal {
    font-size: clamp(2em, 5vw, 4em); 
    color:#0c0904;
    margin: auto;
    width: 85vw;
    border-radius: 15px;

}

.section {
width: 90vw;
margin: 20px auto; 
border-radius: 30px;
background-color: #d8b16e;
padding: 20px; /* Espaciado interno */
}



ol {
    display: flex; /* Configura la lista como un contenedor flexible horizontal*/
    counter-reset: item;
    padding: 0;
  }

  li {
    counter-increment: item; /* Incrementa el contador */
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-right: 20px; 
    list-style: none; 
    text-align: center; 
  }
  
  /* Insertamos el número manualmente */
  li::before {
    content: counter(item); 
    margin-bottom: 5px; /* Espacio entre el número y el contenido */
    font-weight: bold; /* Para que se destaque */
  }

 /* Creacion de inputs y boton con contenedor */
 .input {
  display: block;
  width: 100%;
  height: 40px;
  background-color: azure;
  margin: 10px auto; /* Centrado horizontal y separación entre elementos */
  border-radius: 10px;
  padding: 5px;
}

.button {
  background-color:#dba850; 
  color: rgb(15, 13, 13); 
  font-size: 16px; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; /* Icono de mano al pasar el mouse */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto flotante */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Animaciones */
  display: block;
  margin: 20px auto; 
}

.button:hover {
  background-color: #45a049; /* Cambiar color al pasar el mouse */
}

.button:active {
  transform: scale(0.98); /* Efecto de clic */
}


.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  

}

.card {
  width: 20vw;
  height: auto;
  max-width: 300px;  /* Limita el tamaño máximo */
  min-width: 200px;  /* Limita el tamaño mínimo */
  border-radius: 15px;  
  margin-top: 2em;
  margin:auto;
  display: block; /* Asegura que la imagen se comporte como un elemento de bloque */
  transition: transform 0.3s ease;  
  padding: 20px;
  overflow: hidden;
  
  
}
.card:hover {
      transform: scale(1.1);  
     
  }

.card img {
      width: 100%; 
      border-radius: 15px; 
      display: block; /* Evita que la imagen tenga un margen extra */
      transition: transform 0.3s ease; 
  }
.logo__image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    justify-self: center;
    
}

.logo__title {
  font-size: 1.2em;
  text-align: center;
}

.logo__description {
  text-align: center;
}

.form__label {
  font-weight: bold;
  margin-top: 5px;
  display: block;
}

.activities__form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}